# Project information
site_name: Seey
site_url: https://seey215.github.io/Seey215/
site_author: Seey
site_description: >-
  Welcome to my personal website! 
  <br>
  Here I record my learning notes, personal experiences, and achievements, even secrets.
  <br><br>
  Click "Latest Version" to access the latest version of the website, which is powered by GitHub Action, should you need it.

# Repository
repo_name: Seey215/Seey215
repo_url: https://github.com/Seey215/Seey215

# Copyright
copyright: >
  Copyright&copy;2024-2025 Seey —
  <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">赣ICP备2024035936号-1</a>

# Configuration
theme:
  name: material
  custom_dir: overrides
  language: EN
  features:
    - announce.dismiss
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.path
    - navigation.prune
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to Light Mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/SeeyLogo.png
  icon:
    logo: logo

# Plugins
# plugins:
#   - blog
#   - search:
#       separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
#   - minify:
#       minify_html: true

# Additional configuration
extra:
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Seey215
    - icon: fontawesome/brands/tiktok
      link: https://v.douyin.com/iyv4JuAx/
    # - icon: fontawesome/brands/linkedin
    #   link: https://seey215.cn/
    # - icon: fontawesome/brands/weixin
    #   link: https://seey215.cn/
    # - icon: fontawesome/brands/qq
    #   link: https://seey215.cn/
    # - icon: fontawesome/brands/bilibili
    #   link: https://seey215.cn/

# Page tree
nav:
  - Home: index.md
  # - 首页: static_site/index.html
  - Tech:
    - Redis:
      - tech/redis/index.md
    - DataBase:
      - MySQL:
        - tech/database/index.md
        - 1 连接配置: tech/database/connect.md
        - 2 架构: tech/database/architect.md
        - 3 SQL语句: tech/database/sql-analyze.md
        - 4 存储引擎&表结构: tech/database/engine-table.md
        - 5 业务: tech/database/service.md
    - Algorithm:
      - tech/algorithm/index.md
    - MCP:
      - Expert Consensus on Building MCP: tech/mcp/expert-consensus-on-building-mcp.md
      - 构建MCP的专家共识: tech/mcp/expert-consensus-on-building-mcp.zh-CN.md
    - Test-Driven Dev:
      - 测试驱动开发: tech/test-driven-dev/index.md
  - Essay:
    - essay/index.md
    - 聪明的关键: essay/neuron.md
    - 应届生人数: essay/graduate.md
    - 优雅的绅士: essay/gentleman.md
    - 高效的增肌: essay/muscle-building.md
  - Blog:
    - blog/index.md
  - Recruit:
    - 自我评价: about/resume.md
  - Project:
    - project/index.md
    - SSO单点登录:
        - project/sso/index.md
        - JWT: project/sso/jwt.md
        # - SSO: project/sso/sso.md
    - Canary灰度发布:
        - project/canary/index.md
        - 灰度发布: project/canary/gray.md
  - About:
    - about/index.md
  # - 雅思:
  #   - english/index.md
  #   - Basic Words: english/words900.md
  #   - Basic Grammar: english/grammar.md
  #   - Basic Preposition: english/prep.md
  #   - IELTS Listen: english/ielts-listen.md
  #   - IELTS Read: english/ielts-read.md
  #   - IELTS Writing: english/ielts-writing.md
  #   - IELTS Speaking:
  #     - english/ielts-speaking.md
  #     - Speaking Part1: english/ielts-speaking-part1.md
  #     - Speaking Part2: english/ielts-speaking-part2.md
  #     - Speaking Part3: english/ielts-speaking-part3.md
